
h1 {
    color : blue:
}

#div1 {
    width: 300px;
    height: 200px;
    border-width: 2px 6px 3px 7px;
    border-radius: 10px 0px 10px 0px;
    border-style: solid dashed dotted groove;
    background-color: lightblue;
}

#div2 {
    width: 300px;
    height: 200px;
    border-width: 10px 5px 10px 5px;
    border-radius: 10px;
    border-style: dotted solid ridge groove;
    background-color: yellowgreen
}

#div3 {
    width: 300px;
    height: 200px;
    border-width: 2px 5px 6px 4px;
    border-radius: 10px 5px 12px 15px;
    border-style: dotted solid ridge groove;
    background-color: magenta
}